<div class="vote-buttons" data-comment-id="<%= vote.comment_id %>">
  <span class="vote-count"><%= comment.net_votes_count %></span>
  <%= render "flyover_comments/votes/upvote_button.html", vote: vote unless local_assigns[:hide_upvote_button] %>
  <%= render "flyover_comments/votes/downvote_button.html", vote: vote  unless local_assigns[:hide_downvote_button] %>
</div>
