<!DOCTYPE html>
<html>
<head>
  <title>FlyoverComments</title>
  <%= stylesheet_link_tag    "flyover_comments/application", media: "all" %>
  <%= javascript_include_tag "flyover_comments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
