<div class="flyover-comments">
  <% comments.each do |comment| %>
    <%= render "flyover_comments/comments/comment", comment: comment %>
    <%= flyover_comment_replies comment, collapsed: true %>
  <% end %>
</div>
