<div class="pagination-container">
  <div class="flyover-comments">
    <%= content_tag :div, flyover_comments_empty_text, class: "empty-text" if comments.empty? %>

    <% comments.each do |comment| %>
      <%= render "flyover_comments/comments/comment", comment: comment %>
    <% end %>
  </div>

  <div class="pull-right">
    <%= render "flyover_comments/comments/paginate_links", comments: comments, commentable: commentable %>
  </div>
</div>

<%= paginate @comments, remote: true %>