<div class="pagination-container">
  <div class="flyover-comments">
    <% if no_comments(comments) %>
      <%= content_tag :div, flyover_comments_empty_text, class: "empty-text" %>
    <% else %>
      <% comments.each do |comment| %>
        <%= render "flyover_comments/comments/comment", comment: comment %>
      <% end %>

      <%= render "flyover_comments/comments/comment_pagination", comments: comments, commentable: commentable %>

    <% end %>
  </div>
</div>
