<div class="pagination-container">
  <%= render "flyover_comments/comments/replies", comment: comment, collapsed: collapsed, children: children %>
  <div class = "pull-right">
    <%= paginate @children, remote: true %>
  </div>
</div>