<div class="flyover-comment-replies" id="flyover-comment-<%= comment.id %>-replies">
  <% if collapsed && children.count > 1 %>
    <div class="flyover-comment flyover-comment-reply flyover-comment-load-more">
      <%= link_to t('.load_more_comments'), flyover_comments.comment_path(comment), remote: true, data: {type: 'script', disable_with: t('.loading')} %>
    </div>
    <%= render children.last, child: true %>
  <% else %>
    <%= render children, child: true %>
  <% end %>
</div>
